* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #dbdbdb;
}

.container {
  display: flex;
  padding: 50px;
}

.leftMenu {
  flex: 1;
}

.search {
  padding: 8px;
  width: 250px;
  border: 2px solid #9f9f9f;
  border-radius: 5px;
  background-color: #fff9f9;
}

.search:focus{
    outline: none;
}

h1 {
  font-size: 30px;
  color: #4b4b4b;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cat {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  background-color: #cbcbcb;
  min-width: 50px;
  max-width: 200px;
  padding: 15px;
}

.cat:hover{
  background-color: #ece9e9;
  color: blue;
}

.content {
  flex: 4;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border-radius: 10px;
  background-color: #cbcbcb;
}

.product:hover {
  cursor: pointer;
  background-color: #ece9e9;
}


img {
  width: 150px;
  height: 250px;
  object-fit: contain;
}

.name {
  font-size: 25px;
  font-weight: 500;
}

.priceValue {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.priceText {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

input[type="range"] {
  height: 15px;
  outline: none;
  width: 180px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}