* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #dbdbdb;
}

.container {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 30px;
}

.search {
  padding: 8px;
  width: 250px;
  border: 2px solid #9f9f9f;
  border-radius: 5px;
  background-color: #fff9f9;
}

.search:focus {
  outline: none;
}

h1 {
  font-size: 25px;
  color: #4b4b4b;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cat {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  background-color: #cbcbcb;
  min-width: 50px;
  max-width: 250px;
  padding: 10px;
  border: 2px solid #a8a8a8;
  border-radius: 5px;
}

.cat:hover {
  background-color: #ece9e9;
  color: blue;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border-radius: 10px;
  background-color: #cbcbcb;
  border: 2px solid #a9a9a9;
}

.product:hover {
  cursor: pointer;
  background-color: #ece9e9;
}

img {
  width: 150px;
  height: 250px;
  object-fit: contain;
}

.name {
  font-size: 25px;
  font-weight: 500;
}

.priceValue {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.priceText {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

input[type="range"] {
  height: 15px;
  outline: none;
  width: 180px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

/* Styles for mobile devices */
@media screen and (max-width: 767px) {
  .container {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .leftMenu{
    margin: 10px auto 30px auto;
  }

  .content{
    margin: 0 auto;
    min-width: 260px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .product{
    height: 350px;
  }
}

/* Styles for tablet devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .leftMenu{
    max-width: 200px;
  }
  .search {
  width: 180px;
}

.cat {
  background-color: #cbcbcb;
  min-width: 50px;
  max-width: 180px;
  padding: 10px;
}

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product{
    height: 370px;
  }
}