* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  padding: 50px;
}

.leftMenu {
  flex: 1;
}

.search {
  padding: 10px;
  width: 200px;
  border: 1px solid gray;
}

h1 {
  font-size: 30px;
  color: #555;
  font-weight: 300;
}

.content {
  flex: 4;
}
